@charset "utf-8";
/*포트폴리오 인트로 main.css*/

@import url(reset.css);
/********/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&display=swap');
/*font-family: 'IBM Plex Sans', sans-serif; >> top글씨*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
/*font-family: 'Playfair Display', serif; >> 동그라미 내부글씨*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');
/*font-family: 'Nanum Myeongjo', serif;*/

/*********** 상단영역 ***********/
header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

header > h1.logo {
    width: 200px;
    height: 50px;
    margin: 25px 0 25px 20px;
    color: #ffeaea;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
}

header ul#gnb {
    position: absolute;
    width: 40%;
    bottom: 10px;
    right: 0;
    text-align: center;
}

header ul#gnb > li {
    width: 25%;
    float: left;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

header ul#gnb > li:hover {
    color: #fff;
}

/*전체 싸는 박스*/
content {}

content .wrap {
    width: 100vw;
    height: 400vh;
}

content .page {
    position: relative;
    width: 100%;
    height: 25%;
}

/*********** 컨텐츠영역1: 자기소개/연락처 ***********/
.con1 {
    width: 100%;
    height: 100%;
    background-color: #f0e4cf;
}

.con1 h2.int {
    position: absolute;
    text-align: center;
    width: 1200px;
    height: 50px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nanum Myeongjo', serif;
    color: #603000;
    border-bottom: 2px solid rgba(105, 53, 1, 0.72);
}

.con1 .me {
    position: absolute;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.con1 .me dl {
    float: left;
    width: 300px;
    margin: 0 49px;
}

.con1 .me dl:hover {
    transform: scale(1.1);
    /*속시이지*/
    transition: .3s ease-in-out;
}

.con1 .me dt {
    color: #ef3c3c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.con1 .me dd {
    padding-left: 8px;
    font-size: 15px;
    line-height: 25px;
}

/*********** 컨텐츠영역2: 수료한 학원에서 배운 것들 ***********/
.con2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0e4cf;
}

.con2 dl {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    border: 4px double #603000;
    text-align: center;
}

.con2 dt {
    font-size: 25px;
    line-height: 40px;
    color: #603000;
    font-family: 'Nanum Myeongjo', serif;
    padding-top: 2%;
}

.con2 dd {
    font-size: 15px;
    line-height: 25px;
}


/*********** 컨텐츠영역3: 포트폴리오 ***********/
.con3 {
    width: 100%;
    height: 100%;
    background-color: #f0e4cf;
}

.gnb ol {
    top: 40%;
    width: 200px;
    height: 200px;
    list-style: none;
}


.gnb ol:first-child {
    /*이미지 두개 겹쳐보임*/
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
}

.gnb ol:nth-child(2) {
    /*이미지 두개 겹쳐보임*/
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
}

.gnb ol:nth-child(3) {
    /*이미지 두개 겹쳐보임*/
    position: absolute;
    left: 60%;
    transform: translateX(-50%);
}

.gnb ol:nth-child(4) {
    /*이미지 두개 겹쳐보임*/
    position: absolute;
    left: 80%;
    transform: translateX(-50%);
}

.gnb ol li {
    width: 100%;
    height: 100%;
}


/*앞에 오는 애*/
.gnb li:nth-of-type(even) {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

/*뒤에 있는애*/
.gnb li:nth-of-type(odd) {
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

/*앞에 오는 애*/
.gnb li:nth-of-type(even) a {
    background-color: #ef3c3c;
}

/*뒤에 있는애*/
.gnb li:nth-of-type(odd) a {
    background-color: #11689a;
}

.gnb li a {
    position: absolute;
    top: 0 !important;
    left: 0;
    display: block;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    top: 20%;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    border-radius: 50%;
    line-height: 200px;
}

/*****************돌아가게하기*****************/
.gnb1 li:first-child a {
    transform: rotateY(90deg);
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-in;
    /*기다림없이 처음에 천천히*/
}

/*2.*/
.gnb1:hover li:first-child a {
    transform: rotateY(0deg);
    /*트랜지션-0.4초 기다림*/
    transition: all .4s ease-out .4s;
}

/*3.*/
.gnb1 li:last-child a {
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-out .4s;
    /*돌아올때는 기다렸다가 마지막에 천천히*/
}

/*4.*/
.gnb1:hover li:last-child a {
    transform: rotateY(90deg);
    /*트랜지션*/
    transition: all .4s ease-in;
}

/*****************돌아가게하기*****************/

/*****************돌아가게하기2*****************/
.gnb2 li:first-child a {
    transform: rotateY(90deg);
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-in;
    /*기다림없이 처음에 천천히*/
}

/*2.*/
.gnb2:hover li:first-child a {
    transform: rotateY(0deg);
    /*트랜지션-0.4초 기다림*/
    transition: all .4s ease-out .4s;
}

/*3.*/
.gnb2 li:last-child a {
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-out .4s;
    /*돌아올때는 기다렸다가 마지막에 천천히*/
}

/*4.*/
.gnb2:hover li:last-child a {
    transform: rotateY(90deg);
    /*트랜지션*/
    transition: all .4s ease-in;
}

/*****************돌아가게하기2*****************/

/*****************돌아가게하기3*****************/
.gnb3 li:first-child a {
    transform: rotateY(90deg);
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-in;
    /*기다림없이 처음에 천천히*/
}

/*2.*/
.gnb3:hover li:first-child a {
    transform: rotateY(0deg);
    /*트랜지션-0.4초 기다림*/
    transition: all .4s ease-out .4s;
}

/*3.*/
.gnb3 li:last-child a {
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-out .4s;
    /*돌아올때는 기다렸다가 마지막에 천천히*/
}

/*4.*/
.gnb3:hover li:last-child a {
    transform: rotateY(90deg);
    /*트랜지션*/
    transition: all .4s ease-in;
}

/*****************돌아가게하기3*****************/

/*****************돌아가게하기4*****************/
.gnb4 li:first-child a {
    transform: rotateY(90deg);
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-in;
    /*기다림없이 처음에 천천히*/
}

/*2.*/
.gnb4:hover li:first-child a {
    transform: rotateY(0deg);
    /*트랜지션-0.4초 기다림*/
    transition: all .4s ease-out .4s;
}

/*3.*/
.gnb4 li:last-child a {
    /*원상태로 돌아올때 트랜지션*/
    transition: all .4s ease-out .4s;
    /*돌아올때는 기다렸다가 마지막에 천천히*/
}

/*4.*/
.gnb4:hover li:last-child a {
    transform: rotateY(90deg);
    /*트랜지션*/
    transition: all .4s ease-in;
}



/*********** 컨텐츠영역4: 감사합니다 ***********/
.con4 {
    width: 100%;
    height: 100%;
    background-color: #f0e4cf;

}

.con4 h3.call {
    position: absolute;
    text-align: center;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.con4 h3.call li:first-child {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}

.con4 h3.call li:first-child:hover {
    transform: scale(1.1);
    color: #ef3c3c;
    transition: .3s ease-in-out;
}

.con4 h3.call li:nth-child(2){
    font-size: 18px;
    color: #6d6d6d;
    font-family: 'Nanum Myeongjo', serif;
}

.con4 h3.call li:nth-child(3) {
    
    font-size: 25px;
    padding: 10px 0;
}

.con4 h3.call li:nth-child(3):hover {
    color: #ef3c3c;
    transition: .2s ease-in-out;
}

.con4 h3.call li:nth-child(4) {
    font-size: 25px;
    padding-bottom: 25px;
}


.con4 h3.call li:nth-child(4):hover {
    color: #ef3c3c;
    transition: .2s ease-in-out;
}
