@charset "utf-8";

/*요소초기화*/
ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul::after,ol::after{
    content: "";
    display: block;
    clear: both;
}
li{
    float: left;
}

a{
    text-decoration: none;
    color: #222;
}