@charset "utf-8";
/* 덕신사 CSS - core.css 웹폰트,전체설정*/

/*웹폰트*/





/*공통*/
html,
body,
h1,
h2 {
    margin: 0;
    padding: 0;
}
html,
body{
    font: 2px "NGothicEB", Gulim;
}

/*공통셋팅*/
a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px #777;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul::after,
ol::after {
    content: "";
    display: block;
    clear: both;
}

li {
    float: left;
    list-style: none;
    color: #fff;
}


.ibx{
    width: 1280px;
    max-width: 100%;
    /*1200px보다 작아지면 최대 100%유지*/
    margin: 0 auto;
    /*가로중앙정렬*/
    /*outline: 2px dashed red;*/
}

