@charset "utf-8";
/* 덕신사 CSS - main.css */
/* 메인페이지에만 나오는 요소를 코딩한다! */

/*외부파일 불러오기*/
/*@import url(gridView.css);*/
@import url(gridSet.css);
/****************/
@import url(core.css);
@import url(common.css);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/

body {
    position: relative;
}

/*메인페이지 전체 디자인보기*/

/******************************************/
/******************************************/

/*상단영역*/
#top {
    position: fixed;
    /*상단고정*/
    width: 100%;
    z-index: 9999;
}

#top .t1 img {
    width: 175px;
    padding-left: 4vw;
}

#top .nav{
    position: relative;
}

#top .nav li {
    /*상단영역 메뉴바*/
    padding-top: 3px;
    font-size: 17px;
    padding-left: 10.3vw;
    white-space: nowrap;
}

#top .nav li+li{
    padding-left: 72px;
}

#top .login{
    padding: 8px 2px 2px 75px;
}

#top .lang{
    padding: 8px 2px 2px 25px;
}

/*컨텐츠영역*/
.page li{
    color: #f00;
}

.page .tit1{
    text-align:center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.2em;
    width: 100%;
}

.page .tit2{
    text-align:center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 80px;
    letter-spacing: 0.1em;
    width: 100%;
}


/*하단블릿영역*/
.bnav {
    position: fixed;
    /*하단고정*/
    width: 15%;
    z-index: 9999;
}

.bnav li {
    position: relative;
    /*span의 부모자격*/
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #f00;
    border-radius: 50%;
    float: left;
    margin-right: 8px;
}


/********************************/
/*******개별 페이지 박스 셋팅*******/


#cont1 {
    background-image: url(../images/main_cap12.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont2 {
    background-image: url(../images/main_cap22.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont3 {
    background-image: url(../images/main_cap33.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont4 {
    background-image: url(../images/main_cap44.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont5 {
    background-image: url(../images/main_cap55.png);
    background-repeat: no-repeat;
    background-position: center top;
}

/*.....*/



/*#cont1 {
    background: url(../images/bg1.jpg) no-repeat top/cover;
}*/

/*
#cont2 {
    background: url(../images/bg2.jpg) no-repeat top/cover;
}

#cont3 {
    background: url(../images/bg3.jpg) no-repeat top/cover;
}

#cont4 {
    background: url(../images/bg4.jpg) no-repeat top/cover;
}

#cont5 {
    background: url(../images/bg5.jpg) no-repeat top/cover;
}
*/
