@charset "utf-8";
/* 덕신사 CSS - main.css */
/* 메인페이지에만 나오는 요소를 코딩한다! */

/*외부파일 불러오기*/
/*@import url(gridView.css);*/
@import url(gridSet.css);
/****************/
@import url(core.css);
@import url(common.css);

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
/*font-family: 'Cormorant Garamond', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap');
/*font-family: 'Open Sans', sans-serif;*/

body {
    position: relative;
}

/*메인페이지 전체 디자인보기*/

/******************************************/
/******************************************/

/*상단영역*/
#top {
    position: fixed;
    /*상단고정*/
    z-index: 9999;
    width: 100%;
    /*border: 1px solid blue;*/
}

#top .hlogo {
    position: relative;
    width: 175px;
    padding-left: 35%;
}
#top .mlogo{
}
#top .ham img {
    position: absolute;
    width: 20px;
    height: 20px;

    /*display: none;*/

    border: 3px solid lime;
    /*display: none;*/
    /*처음에 안보임*/
}

#top .nav {
    display: block;
    width: 100%;
    text-align: center;
}

#top .nav li {
    /*상단영역 메뉴바*/
    width: 20%;
    /*font-size: 18px;*/
    font-size: 9rem;
    font-family: 'Noto Serif KR', serif;
}

#top .nav li:hover a {
    font-family: 'Noto Serif KR', serif;
    font-weight: bold;
    /*color: #f00;*/
}

#top .bl {
    width: 100px;
}

#top .login {
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    font-size: 9rem;
    letter-spacing: 0.2em;
}

#top .lang {
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    font-size: 9rem;
    letter-spacing: 0.2em;
}

/*컨텐츠영역*/
.mid {
    vertical-align: middle;
}

/*1페이지 중앙 작은제목*/

.page .tit1 {
    width: 100%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 9rem;
    font-weight: normal;
    letter-spacing: 0.2em;
}

/*1페이지 중앙 큰제목*/
.page .tit2 {
    width: 100%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40rem;
    letter-spacing: 0.1em;
}

/*2~5페이지 중앙 작은제목*/
.page .tit3 {
    width: 100%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 9rem;
    font-weight: normal;
    letter-spacing: 0.2em;
}

/*2~5페이지 중앙 큰제목*/
.page .tit4 {
    width: 100%;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40rem;
    letter-spacing: 0.1em;
}

/*컨텐츠 밑 버튼*/
.page .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 38px;
    text-align: center;
    font-weight: bold;
    /*18px*/
    font: bold 1.125rem/33px "맑은 고딕";
    /*font: 스두크줄체 스타일 두께 크기 */
    letter-spacing: 0.1em;
    border: 1px solid #fff;
    border-radius: 40px;
}

/*버튼에 마우스 오버시*/
.page .btn:hover {
    background-color: #fff;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.page .btn:hover a {
    color: #333;
    /*font: bold 1.000em/2.2 "맑은 고딕";*/
    letter-spacing: 0.1em;
    cursor: pointer;
}


/*하단블릿영역*/
.bnav {
    position: fixed;
    /*하단고정*/
    width: 100%;
    z-index: 9999;
    padding-left: 9%;
}

.bnav li {
    position: relative;
    /*span의 부모자격*/
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    margin-right: 8px;
}


/********************************/
/*******개별 페이지 박스 셋팅*******/


/*#cont1 {
    background-image: url(../images/main_cap1.png);
    background-repeat: no-repeat;
    background-position: center top;
}*/

/*
#cont2 {
    background-image: url(../images/main_cap2.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont3 {
    background-image: url(../images/main_cap3.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont4 {
    background-image: url(../images/main_cap4.png);
    background-repeat: no-repeat;
    background-position: center top;
}

#cont5 {
    background-image: url(../images/main_cap5.png);
    background-repeat: no-repeat;
    background-position: center top;
}
*/
/*.....*/



#cont1 {
    background: url(../images/bg1.jpg) no-repeat top/cover;
}

#cont2 {
    background: url(../images/bg2.jpg) no-repeat top/cover;
}

#cont3 {
    background: url(../images/bg3.jpg) no-repeat top/cover;
}

#cont4 {
    background: url(../images/bg4.jpg) no-repeat top/cover;
}

#cont5 {
    background: url(../images/bg5.jpg) no-repeat top/cover;
}
