@charset "utf-8"
/*reset.css*/
/*공통*/
html,
body,
h1,
h2 {
    margin: 0;
    padding: 0;
}
html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
li{
    color: #fff;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: top;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
body{
    
}