@charset "utf-8";
/* 세계의 도시 메인페이지 CSS - gnb.css */

 @import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Jua&display=swap');
/*
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Jua', sans-serif;

*/


.gnb {
    width: 900px;
    height: 40px;
    margin: 0 auto;
}

.gnb > ul {
    /*3無*/
    margin: 0;
    padding: 0;
    list-style: none;
}

.gnb li {
    float: left;
    width: 150px;
    height: 40px;
    box-sizing: border-box;

}

/*li사이에 구분선 넣기
        - li+li는 앞에 형제 li가 있는 li만 선택하므로 첫번째 li는 제외됨*/
.gnb li + li {
    border-left: 1px solid #777;
}

/*첫번째 li에 둥근모서리 (왼쪽위아래)*/
.gnb li:first-child a {
    border-radius: 5px 0 0 5px;
}

/*마지막 li에 둥근 모서리 (오른쪽위아래)*/
.gnb li:last-child a {
    border-radius: 0 5px 5px 0;
}

/*
            보더 한번에 4방향 셋팅하기
            border-radius: 왼위 오위 오아래 왼아래;
            - 왼쪽위부터 시계방향돌기!
        */

.gnb a {
    display: block;
    width: 100%;
    height: 100%;

    /*글자색과 밑줄은 꼭 a요소에서!*/
    color: #333;
    text-decoration: none;

    /*글자셋팅*/
    font: 12px/40px Verdana;
    text-align: center;

    /*CSS로 그라데이션 주기*/
    /*그라데이션은 예전에 무조건 이미지로 만듦*/
    /*그래서 배경이미지로 셋팅한다!*/
    background-image: linear-gradient(to top, #6d6d6d, #d6d6d6);

    /*선형그라데이션 연습*/
    /*background-image: linear-gradient(45deg,red 20%,yellow 70%,blue);*/

    /*원형그라데이션 연습*/
    /*background-image: radial-gradient(circle at 80%,red 10%,yellow,green);*/

    /*그림자 효과주기*/
    text-shadow: 1px 1px 0 #ccc;
    /*X축 Y축 blur 색*/
}

/*메뉴 li에 마우스 오버시 배경색,글자그림자 변경하기*/
.gnb li:hover a {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.68), #d6d6d6);
    text-shadow: 0 1px 0 #777;
    color: #fff;
}
