@charset "utf-8";
/*media.css*/

@media only screen and (max-width:1280px) {

    header {
        width: 1280px;
    }

    section {
        width: 1280px;
    }

}

/*1280px 이하 미디어쿼리*/
/**********************/


@media only screen and (max-width:767px) {



    header {
        /*border: 1px solid red;*/
        width: 100vw;
        height: 80px;
        z-index: 10;
    }

    header h1 {
        width: 130px;
        left: 15px;
    }

    header nav {
        display: none;
    }

    .ham img {
        display: block;
    }
    
    .br1{
        display: block;
    }
    .br2{
        display: none;
    }

    /************/
    #slide .page .con1,
    #slide .page .con2,
    #slide .page .con3,
    #slide .page .con4,
    #slide .page .con5 {
        height: 200px;
        /*border: 3px dotted yellow;*/
    }

    #slide .page ul li:first-child {
        font-size: 14px;
    }

    #slide .page ul li:nth-child(2) {
        font-size: 40px;
    }

    .page .btn {
        font-size: 14px;
    }

    /*하단 블릿박스*/
    .bnav {
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

}

/*767px 이하 미디어쿼리*/
/**********************/

@media only screen and (max-width:500px) {}

/*500px 이하 미디어쿼리*/
/**********************/
