@charset "utf-8";
/* 세계의 도시 메인페이지 CSS - main.css */

@import url('https://fonts.googleapis.com/css?family=Black+And+White+Picture|East+Sea+Dokdo|Jua&display=swap');
/*
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Jua', sans-serif;

*/


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    background-image: linear-gradient(to bottom, #777 30%, #ccc 70%);
}

/********************** 1. 전체제목 **********************/
.tit {
    /*세계의도시*/
    position: relative;

    text-align: center;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    color: #fff;
    background: url(../images/citybg.png) no-repeat center/auto 100%;
}

/*******************************************************/

/**********************  2. 메뉴  **********************/
.city {
    position: absolute;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
    bottom: 3%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}


.city ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.city li {
    float: left;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to top, transparent, #d6d6d6);
    /*transparent는 투명을 지칭하는 키워드(만약 이 키워드대신 쓸수 있는것은 rgba로 투명만들기를 할 수 있음)*/

    /*트랜스폼 회전축 기준변경*/
    /*transform-origin: right;*/

    /*트랜지션:속시이지*/
    transition: transform .4s ease-out;
    /*트랜스폼만 애니적용!*/
}



/*마우스오버시*/
.city li:nth-child(1):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(180, 78, 78, 0.84));
    transform: scale(1.5);
}

.city li:nth-child(2):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(180, 129, 78, 0.84));
    transform: scale(1.5);
}

.city li:nth-child(3):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(180, 172, 78, 0.84));
    transform: scale(1.5);
}

.city li:nth-child(4):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(78, 180, 117, 0.84));
    transform: scale(1.5);
}

.city li:nth-child(5):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(94, 78, 180, 0.84));
    transform: scale(1.5);
}

.city li:nth-child(6):hover {
    background-image: linear-gradient(to bottom, transparent, rgba(180, 78, 121, 0.84));
    transform: scale(1.5);
}



.city a {
    /*메뉴바*/
    display: block;
    /*디자인적용위해*/
    width: 100%;
    height: 100%;
    font: 52px/100px 'Jua', sans-serif;
    text-decoration: none;
    text-align: center;
    color: #fff;
}



/*******************************************************/


/***********************3.큐브박스***********************/
.cube {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);

    /*입체설정*/
    transform-style: preserve-3d;


    /*outline: 2px solid #000;*/
}

/*큐브 각면 공통*/
.cube>span{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
}
/*앞면: 시작면*/
.cube>span:nth-child(1){
    background: url(../images/cityMain.jpg) no-repeat center/cover;
    transform: translateZ(200px);
}
/*오른쪽면: 부산*/
.cube>span:nth-child(2){
    background: url(../images/berlin_city.jpg) no-repeat center/cover;
    transform: rotateY(90deg) translateZ(200px);
}
/*뒷면: 대구*/
.cube>span:nth-child(3){
    background: url(../images/aa.jpg) no-repeat center/cover;
    transform: rotateY(180deg) translateZ(200px);
}
/*왼쪽면: 인천*/
.cube>span:nth-child(4){
    background: url(../images/seoulCity.jpg) no-repeat center/cover;
    transform: rotateY(-90deg) translateZ(200px);
}
/*윗면: 광주*/
.cube>span:nth-child(5){
    background: url(../images/ss.jpg) no-repeat center/cover;
    transform: rotateX(90deg) translateZ(200px);
}
/*아랫면: 대전*/
.cube>span:nth-child(6){
    background: url(../images/pp.jpg) no-repeat center/auto 110%;
    transform: rotateX(-90deg) translateZ(200px);
}

/*도시설명박스*/
.cbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    
    /*글자설정*/
    font-family: 'Jua',sans-serif;
    color: #fff;
    text-shadow: 0 0 1px #000;
    
    opacity: 0;
    /*처음에 안보이게*/
}
/*개별도시 박스*/
.ctxt{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 3px solid #fff;
}
/*도시명*/
.ctxt h2{
    margin: 0;
    padding: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}
/*도시설명*/
.ctxt p{
    width: 100%;
    height: calc(100% - 100px);
    /*
        높이값 계산해서 넣기
        calc(%수치 - px수치)
        -주의: 빼기기호 앞뒤에 띄어쓰기
    */
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 28px;
    
    background-color: rgba(0, 0, 0, 0.2);
}







